<div class="container">
  <div class="row">
    <div class="form-check">
      <button type="text" (click)="fn('activo')">activo</button>
    </div>
    <br>
    <div class="form-check">
      <button type="text" (click)="fn('pendiente')">pendiente</button>
    </div>
    <br>
    <div class="form-check">
      <button type="text" (click)="fn('cancelado')">cancelado</button>
    </div>
    status: {{switchtest}}
  </div>  
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let persona of datos" [ngSwitch]="switchtest">
      <ng-container *ngSwitchCase=" 'activo' ">
        <th [ngStyle]="{background: 'green'}" scope="row">{{persona.id}}</th>
        <td [ngStyle]="{background: 'green'}">{{persona.nombre}}</td>
        <td [ngStyle]="{background: 'green'}">{{persona.edad}}</td>
        <td [ngStyle]="{background: 'green'}">{{persona.status}}</td>
      </ng-container>
      <ng-container *ngSwitchCase=" 'pendiente' ">
          <th [ngStyle]="{background: 'yellow'}" scope="row">{{persona.id}}</th>
          <td [ngStyle]="{background: 'yellow'}">{{persona.nombre}}</td>
          <td [ngStyle]="{background: 'yellow'}">{{persona.edad}}</td>
          <td [ngStyle]="{background: 'yellow'}">{{persona.status}}</td>
        </ng-container>
        <ng-container *ngSwitchCase=" 'cancelado' ">
          <th [ngStyle]="{background: 'red'}" scope="row">{{persona.id}}</th>
          <td [ngStyle]="{background: 'red'}">{{persona.nombre}}</td>
          <td [ngStyle]="{background: 'red'}">{{persona.edad}}</td>
          <td [ngStyle]="{background: 'red'}">{{persona.status}}</td>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
</div>